body {
  font-family: Arial, sans-serif;
  background-color: #eee;
}
h1 {
  font-weight: 400;
  font-size: xxx-large;
  margin: 10px 10px 10px 0;
}
h2 {
  font-weight: 400;
  font-size: xx-large;
  margin: 10px 40px 10px 0;
}
.responsive-container {
  max-width: 1200px;
  margin: 100px auto;
}
.module-div {
  margin-top: 6px;
}
.module-children {
  margin-left: 20px;
  margin-bottom: 8px;
}
.module-row,
.file-row {
  display: flex;
  justify-content: space-between;
}
.module-row {
  font-weight: bold;
  background-color: #ccc;
  border-radius: 4px;
}
.file-row {
  font-style: italic;
  background-color: #fff;
  margin-top: 2px;
  border-radius: 4px;
}
.item-name {
  flex-grow: 1;
  margin: 4px 12px;
}
.coverage-stats {
  margin: 1px;
  width: 100px;
  max-width: 100px;
  min-width: 100px;
  text-align: center;
  border-radius: 4px;
  padding: 2px;
}
.header {
  margin-bottom: 60px;
}
.top-module-card {
  margin-top: 20px;
  border-radius: 4px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.top-module {
  display: flex;
  margin: 0 0 30px 20px;
}
.top-module > h2,
.top-module > h1 {
  flex-grow: 1;
}
.coverage-stats-chip {
  border: solid 2px #555;
  margin: auto 0 auto 10px;
  border-radius: 15px;
  display: flex;
  position: relative;
}
.coverage-stats-chip-left {
  padding: 4px 10px;
  border-radius: 15px 0 0 15px;
  text-align: right;
  background-color: #fff;
}
.coverage-stats-chip-right {
  padding: 4px 10px;
  border-radius: 0 15px 15px 0;
}
.percentage-0 {
  background-color: #c10000aa;
  color: #fff;
}
.percentage-1 {
  background-color: #c12e00aa;
  color: #fff;
}
.percentage-2 {
  background-color: #cf461baa;
  color: #fff;
}
.percentage-3 {
  background-color: #eb5f1baa;
  color: #fff;
}
.percentage-4 {
  background-color: #e77724aa;
  color: #000;
}
.percentage-5 {
  background-color: #e7ac24aa;
  color: #000;
}
.percentage-6 {
  background-color: #e7be24aa;
  color: #000;
}
.percentage-7 {
  background-color: #e3e724aa;
  color: #000;
}
.percentage-8 {
  background-color: #b6e724aa;
  color: #000;
}
.percentage-9 {
  background-color: #6ccd24aa;
  color: #fff;
}
.percentage-10 {
  background-color: #51af22aa;
  color: #fff;
}
.percentage-none {
  background-color: #ddddddaa;
  color: #000;
}
.chip-0 {
  border-color: #c10000aa;
}
.chip-1 {
  border-color: #c12e00aa;
}
.chip-2 {
  border-color: #cf461baa;
}
.chip-3 {
  border-color: #eb5f1baa;
}
.chip-4 {
  border-color: #e77724aa;
}
.chip-5 {
  border-color: #e7ac24aa;
}
.chip-6 {
  border-color: #e7be24aa;
}
.chip-7 {
  border-color: #e3e724aa;
}
.chip-8 {
  border-color: #b6e724aa;
}
.chip-9 {
  border-color: #6ccd24aa;
}
.chip-10 {
  border-color: #51af22aa;
}
.chip-none {
  border-color: #ddddddaa;
}
.line-covered > pre,
.line-not-covered > pre,
.line-not-tested > pre {
  margin: 0;
}
.line-covered {
  background-color: #b0dfb0;
}
.line-not-covered {
  background-color: #dfb0b0;
}
.file-logo {
  display: flex;
}
.file-logo > img {
  width: 20px;
  height: 20px;
  margin: auto;
}
.navigation {
  display: flex;
  margin: 20px 20px;
}
.navigation > div {
  margin-right: 10px;
  padding: 5px 15px;
}
.navigation > .navigation-part {
  background-color: #eee;
  border-radius: 15px;
}
.navigation > div > a {
  text-decoration: none;
  color: #000;
}
.navigation > div > a:hover {
  color: #555;
}
