body {
  font-family: Arial, sans-serif;
  background-color: #eee;
}
h1 {
  font-weight: 400;
  font-size: xx-large;
  margin: 0px 10px 10px 0;
}
h2 {
  font-weight: 400;
  font-size: xx-large;
  margin: 10px 40px 10px 0;
}
.title-with-image {
  display: flex;
  margin-bottom: 40px;
}
.title-with-image > img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.title-with-image > h1 {
  margin: auto 20px;
}
.responsive-container {
  max-width: 1200px;
  margin: 100px auto;
}
.module-div {
  margin-top: 6px;
}
.module-children {
  margin-left: 20px;
  margin-bottom: 8px;
}
.module-row,
.file-row {
  display: flex;
  justify-content: space-between;
}
.file-row .coverage-stats {
  opacity: 0.8;
}
.module-row {
  font-weight: bold;
  background-color: #ccc;
  border-radius: 4px;
}
.file-row {
  font-style: italic;
  background-color: #fff;
  margin-top: 2px;
  border-radius: 4px;
}
.item-name {
  flex-grow: 1;
  margin: 4px 12px;
}
.coverage-stats {
  margin: 1px;
  width: 100px;
  max-width: 100px;
  min-width: 100px;
  text-align: center;
  border-radius: 4px;
  padding: 2px;
}
.header {
  margin-bottom: 60px;
}
.top-module-card {
  margin-top: 56px;
  padding: 30px 20px 10px 20px;
}
.top-files-card {
  margin-bottom: 100px;
  padding: 30px 20px 10px 20px;
}
.details-card,
.top-module-card,
.top-files-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 4px;
  background-color: #fff;
}
.details-card {
  margin-top: 48px;
  padding: 30px;
}
.details-card > h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
.top-module {
  position: absolute;
  top: -38px;
  height: 58px;
  left: 0;
  width: 100%;
  display: flex;
}
.fill {
  flex-grow: 1;
}
.w-20 {
  width: 20px;
}
.top-module > .tab {
  display: flex;
  background-color: white;
  padding: 5px 20px;
  border-radius: 8px;
}
.tab > img {
  width: 28px;
  height: 28px;
  margin: auto 10px auto 0;
}
.tab > a {
  margin: auto 10px;
}
.tab > a > h2 {
  font-size: x-large;
  margin: 0;
}
.coverage-stats-chip {
  border: solid 2px #555;
  margin: auto 0 auto 10px;
  border-radius: 15px;
  display: flex;
  position: relative;
}
.coverage-stats-chip-left {
  padding: 4px 10px;
  border-radius: 15px 0 0 15px;
  text-align: right;
  background-color: #fff;
}
.coverage-stats-chip-right {
  padding: 4px 10px;
  border-radius: 0 15px 15px 0;
}
.lines > table {
  width: 100%;
}
.lines > table > tbody > tr > td:nth-child(1) {
  text-align: right;
  font-size: small;
  min-width: 25px;
  width: 25px;
  color: #555;
}
.lines > table > tbody > tr > td:nth-child(2) {
  text-align: center;
  font-size: small;
  min-width: 25px;
  width: 25px;
}
.line-covered > pre,
.line-not-covered > pre,
.line-not-tested > pre {
  margin: 0;
}
.line-covered > td:nth-child(2) {
  color: #66aa66;
}
.line-covered > td:nth-child(3) {
  background-color: #b6efb6;
}
.line-not-covered > td:nth-child(2) {
  color: #cc5a5a;
}
.line-not-covered > td:nth-child(3) {
  background-color: #ffb7b7;
}
.line-not-tested > td:nth-child(3) {
  color: #999;
}
.file-logo {
  display: flex;
}
.file-logo > img {
  width: 20px;
  height: 20px;
  margin: auto;
}
.navigation {
  display: flex;
  margin: 20px 0px;
}
.navigation > div {
  margin-right: 10px;
  padding: 5px 15px;
}
.navigation > .navigation-part {
  background-color: #eee;
  border-radius: 15px;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #555;
}
.code-file-name {
  font-family: monospace;
  background-color: #eee;
  padding: 5px;
  border-radius: 4px;
}
.gauges {
  display: flex;
  justify-content: space-around;
  margin: 80px 20px 40px 20px;
}
.function {
  display: flex;
  margin: 5px 0;
}
.function > .function-name {
  margin: auto 10px;
  padding: 5px 10px;
  border-radius: 4px;
  font-family: monospace;
}
.function > .function-hit {
  margin: auto 10px;
}
.function-covered > .function-name {
  background-color: #b6efb6;
  max-width: calc(100% - 140px);
  word-wrap: break-word;
}
.function-uncovered > .function-name {
  background-color: #ffb7b7;
}
.function-covered > .function-hit {
  color: #66aa66;
}
.function-uncovered > .function-hit {
  color: #cc5a5a;
}
